@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .button-card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: space-around;
        margin-bottom: 5px;
    }
</style>
@model Bugs4Bugs.Views.Ticket.ChooseProductVM[]

<h1>Available Products</h1>
<div class="container">
    <div class="row">
        <!-- Half the size of the card -->
        <div class="col-6">
            <div class="input-group mb-4">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-primary" id="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row row-cols-lg-3 row-cols-sm-1 g-4">
    @for (int i = 0; i < Model.Length; i++)
    {
        <div class="col-sm-6 mb-3 mb-sm-0" style="display: flex;">
            <div class="card flex-fill product-card" data-product-name="@Model[i].productName" style="width: 12rem;" id="@Model[i].productName">
                <h5 class="card-header">@Model[i].productName</h5>

                <div class="card-body d-flex flex-column justify-content-between">

                    <img src="@Model[i].PhotoURL" class="card-img-top d-block mx-auto" alt="@Model[i].productName.ToString()" style="width: 5rem;">
                    <br />
                    <div class="button-wrapper mt-auto">
                        <h5>Discription:</h5>
                        <p class="card-text">Text</p>
                        <div class="button-card button">
                            <a asp-action="CreateTicket" asp-controller="Ticket" asp-route-prodName="@Model[i].productName" class="btn btn-primary button-card">Create ticket</a>
                            <a asp-action="TicketOverview" asp-controller="Ticket" class="btn btn-primary button-card">Ticket Overview</a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var searchButton = document.getElementById("search-button");
        searchButton.addEventListener("click", searchProducts);
    });

    function searchProducts() {
        var searchTerm = document.getElementById("form1").value.toLowerCase().trim();
        console.log("searchTerm:", searchTerm);

        var allColumns = document.querySelectorAll(".col-sm-6");

        for (var i = 0; i < allColumns.length; i++) {
            var column = allColumns[i];
            if (column.querySelector(".product-card")) {
                var productName = column.querySelector(".product-card").getAttribute("data-product-name").toLowerCase();
                console.log("productName:", productName); 

                if (productName.includes(searchTerm)) {
                    console.log("Showing:", productName);
                    column.style.display = "flex";
                } else {
                    console.log("Hiding:", productName); 
                    column.style.display = "none";
                }
            }
        }
    }
</script>


