@model CreateTicketVM

@{
    ViewBag.Title = "Create Ticket";
}

<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-6 offset-md-3 center-box">
            <div class="card">
                <div class="card-header">
                    Create Ticket
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Product">Product: @Model.ProductName</label>
                        </div>
                        <div class="form-outline mb-3">
                            <label for="Bugtypes" class="form-label">Bugtypes:</label>
                            <select id="Bugtypes" class="form-select">
                                <option value="">-- Select a bug type --</option>
                                @foreach (string option in Model.BugTypes)
                                {
                                    <option value="@option">@option</option>
                                }
                            </select>
                        </div>
                        <div class="form-outline mb-3">
                            <label for="Urgencies" class="form-label">Urgency:</label>
                            <select id="Urgencies" class="form-select">
                                <option value="">-- Select an urgency level --</option>
                                @foreach (string option in Model.UrgencyLevels)
                                {
                                    <option value="@option">@option</option>
                                }
                            </select>
                        </div>
                        <div class="form-outline mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <textarea class="form-control border 1px background black" id="description" rows="3" style="background: #FAFAFA"></textarea>
                        </div>
                        <input type="submit" value="Add ticket" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
