@model CreateTicketVM

@{
    ViewBag.Title = "Create Ticket";
}

<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 center-box">
            <div class="card">
                <div class="card-header">
                    Create Ticket
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="Product">Product: @Model.ProductName</label>


                        </div>
                        <div class="form-group">
                            <label for="Bugtypes"> Bugtypes:</label>
                            <select id="Bugtypes">
                                <option value="">-- Select a bug type --</option>
                                @foreach (string option in Model.BugTypes)
                                {
                                    <option value="@option">@option</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Urgencies"> Bugtypes:</label>
                            <select id="Urgencies">
                                <option value="">-- Select a urgency level --</option>
                                @foreach (string option in Model.UrgencyLevels)
                                {
                                    <option value="@option">@option</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <input type="submit" value="Create ticket" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
