@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <style>
        table-responsive {
            border-collapse: separate;
            border-spacing: 0;
        }

        th {
            position: sticky;
            top: 0;
            background-color: #F9F8F8;
            border-bottom: 2px solid #EB9486;
        }</style>
    <div class="container shadow min-vh-100 py-2">
        <a asp-action="CreateTicket" asp-controller="Ticket" asp-route-prodName=@TempData["productView"] class="btn btn-primary button-card">Create ticket</a>
    <div class="table-responsive">
        <table class="table accordion">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-md-table-cell">Dates</th>
                    <th scope="col" class="d-none d-md-table-cell"></th>
                    <th scope="col" class="d-none d-md-table-cell">Bug Type</th>
                    <th scope="col" class="d-none d-md-table-cell">Status</th>
                    <th scope="col" class="d-none d-md-table-cell">Urgency</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    foreach (TicketVM ticket in Model)
                    {
                        <tr data-mdb-toggle="collapse"
                            href="#r_@i"
                            role="button"
                            aria-expanded="false"
                            aria-controls="r_@i">
                            
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="/@ticket.ProductPhotoURL"
                                            alt=""
                                            style="width: 45px; height: 45px"
                                            class="rounded-circle me-2" />
                                    <div>
                                        <p class="fw-bold mb-1">@ticket.Title</p>
                                        <p class="text-muted mb-0">@ticket.Product</p>
                                    </div>
                                </div>
                                <div class="d-md-none mt-2">
                                    <p class="fw-normal mb-1 d-inline-block me-2">Bug Type: <span class="badge badge-success rounded-pill">@ticket.BugType</span></p>
                                    <p class="fw-normal mb-1 d-inline-block me-2">Status: <span class="badge badge-success rounded-pill">@ticket.Status</span></p>
                                    <p class="fw-normal mb-1 d-inline-block">Urgency: <span class="badge badge-success rounded-pill">@ticket.Urgency</span></p>
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <p class="fw-normal mb-1">Submitted</p>
                                <p class="fw-normal mb-1">Last updated</p>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <p class="fw-normal mb-1">@ticket.Submitted</p>
                                <p class="fw-normal mb-1">@ticket.LastUpdated</p>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <span class="badge badge-success rounded-pill">@ticket.BugType</span>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <span class="badge badge-success rounded-pill">@ticket.Status</span>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <span class="badge badge-success rounded-pill">@ticket.Urgency</span>
                            </td>
                            </tr>
                        <tr class="collapse accordion-collapse" id="r_@i" data-bs-parent=".table">
                            <td colspan="6">
                                <p>Submitted by: @ticket.Submiter</p>
                                <p>Developed by: @ticket.Developer</p>
                                <p><strong>Description:</strong><br />@ticket.Description</p>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
        <a asp-action="CreateTicket" asp-controller="Ticket" asp-route-prodName=@TempData["productView"] class="btn btn-primary button-card">Create ticket</a>
    </div>
}
