@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="accordion" id="accordionExample">

        @{  int i=0;
            foreach (TicketVM ticket in Model){

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_@i">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                            <table class="table table-fixed">
                                <tbody>
                                    <tr>
                                        <th scope="row">@ticket.Title</th>
                                        <td></td>
                                        <td></td>
                                        <td>Submitted: @ticket.Submitted</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>@ticket.BugType</td>
                                        <td>@ticket.Urgency</td>
                                        <td>@ticket.Status</td>
                                        <td>Last updated @ticket.LastUpdated</td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                        </button>
                    </h2>
                    <div id="collapse_@i" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Submitted by: @ticket.Submiter</p>
                            <p>Product: @ticket.Product</p>
                            <p>Developed by:@ticket.Developer</p>

                            <p><strong>Description:</strong><br/>@ticket.Description</p>
                        </div>
                    </div>
                </div>
            i++;
            }
        }
        


    </div>
}
